
<html>
	<head>
		<link rel="shortcut icon" type="image/x-icon" href="bilder/Database.ico" />
		<title>Auswahl durch eigene Navigation</title>
		<link href="style/style.css" rel="stylesheet" type="text/css">
	</head>
	
	<body>
		<a href="Agile_Baukasten.html">
			<div class="inner container">
				<div class="home">
					Home 
				</div>
			</div>
		<a/>
		

		<a href="javascript:history.go(-1)">
			<div class="inner container">
				<div class="home">
				<font color="black">Back</font>
				</div>
			</div>	
		</a>
		
 

		
		<div class="ueberschrift">
			<h1>Auswahl durch eigene Navigation</h1>
		</div>


<div class="tg-wrap"><table class="tg">
  <tr>
    <th class="tg-031e rotate" rowspan="6">	
		<a href="agiles_projektmanagement.html">
			<div class="navigation_rotate_lang black_border">
				Agiles Projektmanagement
			</div>
		</a>
	</th>
	
	<th class="tg-ek65" rowspan="5">	
	</th>
	
    <th class="tg-031e" colspan="3">
		<a href="koordinieren.html">
			<div class="table__">
				<img src="bilder/pfeil_rechts.png" width=28% height=100%/>
				<div class="table_ black_border">
				Koordinieren
				</div>
				<img src="bilder/pfeil_rechts.png" width=17% height=100%/>
			</div>
		</a>
	</th>
    <th class="tg-031e" colspan="3">
		<a href="durchfuehren.html">
			<div class="table__">
				<div class="table_ black_border">
				Durchführen
				</div>
				<img src="bilder/pfeil_unten.png" width=17% height=100%/>
			</div>
		</a>
	</th>
  </tr>
  <tr>
  
    <th class="tg-031e rotate" rowspan="3">
			<a href="planen.html">
			<div class="navigation_rotate_kurz black_border">
				Planen	
				
			</div>
			
			
		</a>	
	</th>

			
		</a>
		
	</th>
	
	
    <th class="tg-031e rotate" rowspan="3">	
		
	<a href="agile_produktentwicklung.html">
			<div class="navigation_rotate_kurz blue_white">
				Agile Produktentwicklung
			</div>
			
			
		</a>
	</th>
    <td class="tg-031e"><a href="systemanalyse.html">
		<div class="table2_ blue_white">Systemanalyse</div></td>
    <td class="tg-031e"><a href="test_validierung.html">
		<div class="table2_ blue_white">Test / Validierung<br></div></td>
    <td class="tg-031e"><a href="Abnahme.html">
		<div class="table2_ blue_white">Abnahme</div></td>
    <th class="tg-031e rotate" rowspan="3">
		<a href="ueberwachen.html">
		<div class="navigation_rotate_kurz black_border">
				&Uuml;berwachen
			</div>
			
		</a>
	</th>
  </tr>
  <tr>
    <td class="tg-031e"><a href="Ideengenerierung.html">
		<div class="table2_ blue_white">Ideengenerierung</div></td>
    <td class="tg-031e"><a href="Risikopruefung.html">
		<div class="table2_ blue_white">Risikoprüfung</div></td>
    <td class="tg-031e"><a href="Integration.html">
		<div class="table2_ blue_white">Integration</div></td>
  </tr>
  <tr>
    <td class="tg-031e"><a href="Anforderungsermittlung.html">
		<div class="table2_ blue_white">Anforderungs-</br>ermittlung</div></td>
    <td class="tg-031e"><a href="realisieren_implementieren.html">
		<div class="table2_ blue_white">Realisieren/<br/>Implementieren<br></div></td>
    <td class="tg-031e"><a href="systementwurf.html">
		<div class="table2_ blue_white">Systementwurf</div></td>
  </tr>
  
  <!--<tr>
    <td class="tg-031e"><a href="systementwurf.html">
		<div class="table_ blue_white">Systementwurf</div></td>
    <td class="tg-031e"><a href="Risikopruefung.html">
		<div class="table_ blue_white">Risikopr&uuml;fung</div></td>
    <td class="tg-031e"><a href="Abnahme.html">
		<div class="table_ blue_white">Abnahme</div></td>
	
  </tr>-->
  <tr>
  <th class="tg-yw4l" colspan="3">
		<a href="Kundenintegration.html">
			<div class="table__">
				<img src="bilder/pfeil_oben.png" width=20% height=100%/>
				<div class="table_ black_border">
					Kundenintegration
				</div>
			</div>
		</a>
	</th>
    <th class="tg-yw4l" colspan="2">
		<a href="steuern.html">
			<div class="table__">
				<img src="bilder/pfeil_links.png" width=17% height=100%/>
				<div class="table_ black_border">
					Steuern
				</div>
				<img src="bilder/pfeil_links.png" width=17% height=100%/>
			</div>
		</a>
	</th>
  </tr>
  <tr>
   <th class="tg" colspan="7">
		<a href="Kontinuierliche_Prozessverbesserung.html">		
				<div class="table3_ black_border">
					Kontinuierliche Prozessverbesserung
				</div>
		</a>
	</th>
</tr>
</table></div>
	</body>
</html>